In [8]:
import numpy as np
import pandas as pd

All of the important data directories

In [10]:
DATA_DIR = "../data/"
CALENDAR_PATH = DATA_DIR + "calendar.csv"
SAMPLE_SUBMISSION_PATH = DATA_DIR + "sample_submission.csv"
SELL_PRICES_PATH = DATA_DIR + "sell_prices.csv"
SALES_TRAIN_VALIDATION_PATH = DATA_DIR + "sales_train_validation.csv"

Loading the data into DataFrames

In [20]:
sell_prices_df = pd.read_csv(SELL_PRICES_PATH)
sales_train_val_df = pd.read_csv(SALES_TRAIN_VALIDATION_PATH)
sell_prices_df.shape, sales_train_val_df.shape

((6841121, 4), (30490, 1919))

In [21]:
sales_train_val_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1904,d_1905,d_1906,d_1907,d_1908,d_1909,d_1910,d_1911,d_1912,d_1913
0,HOBBIES_1_001_CA_1_validation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002_CA_1_validation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003_CA_1_validation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004_CA_1_validation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005_CA_1_validation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4